<section class="h-100 gradient-form" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">
                  <img src="../../../assets/img/lotus.webp" style="width: 185px;" alt="logo">
                  <h4 class="mt-1 mb-5 pb-1">IEsystems Technologies</h4>
                </div>

                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                  <p>Por favor inicia sesion en tu cuenta</p>

                  <div data-mdb-input-init class="form-outline mb-4">
                    <input type="email" id="username" class="form-control" placeholder="Introduce tu usuario"
                      formControlName="userName" required />
                    <label class="form-label" for="username">Username</label>
                  </div>

                  <div data-mdb-input-init class="form-outline mb-4">
                    <input type="password" id="password" class="form-control" formControlName="password" required />
                    <label class="form-label" for="password">Password</label>
                  </div>

                  <div class="text-center pt-1 mb-5 pb-1">
                    <button type="submit" data-mdb-button-init data-mdb-ripple-init
                      class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" *ngIf="!formSubmitAttempt">Iniciar Sesión</button>
                      <img *ngIf="formSubmitAttempt" style="width: 150px;"  src="../../../assets/img/loading-color.gif" alt="">
                      <!-- validacion pendiente por falla en servicio (API POST) -->
                    <!-- <ngb-alert *ngIf="formSubmitAttempt && !closeAlert" type="danger" (closed)="closeAlert">Usuario no encontrado, revise su usuario y
                      contrasenia</ngb-alert> -->
                  </div>
                </form>

              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4">Somos mas que solo una compañia.</h4>
                <p class="small mb-0">Somos IeSystems , especialistas en servicios tecnológicos, contamos con más de 42
                  años de experiencia en el mercado.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
